---
import '../styles/global.css';

interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass = "bg-amber-50 min-h-screen font-sans text-gray-800" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
